body {
    background: url(../../img/FondoInicio.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    form {
        margin: 4.5% auto;
        opacity: 0.9;
        border-radius: 7px;
    }
}

a {
    text-decoration: none;
}

.ajust {
    width: 25%;
}

@media (max-width: 1200px) {
    .ajust {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .ajust {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .ajust {
        width: 45%;
    }
}

@media (max-width: 588px) {
    .ajust {
        width: 60%;
    }
}

@media (max-width: 418px) {
    .ajust {
        width: 80%;
    }
}

@media (max-width: 280px) {
    .ajust {
        width: 95%;
    }
}