#bankSubjects {
    .buttons {
        width: 150px;
        height: 40px;
        background: #512b83;
        color: white;
        margin: 0px;
    }
    #searchButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        #searchSubjects {
            form {
                display: flex;
                margin-left: 0px;
                input {
                    width: 250px;
                    height: 40px;
                }
                button {
                    height: 40px;
                }
            }
        }
    }
    .addMatters {
        .modal-content {
            width: 90%;
        }
        h5 {
            font-size: 20px;
            font-weight: bold;
        }
        form {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            label {
                font-size: 18px;
                font-weight: bold;
            }
            input {
                font-size: 16px;
            }
        }
    }
    .subjects {
        width: 80%;
        margin: 0 auto;
        overflow: auto;
        table {
            text-align: center;
            thead {
                font-weight: bold;
                background: #512b83;
                color: white;
            }
            tbody {
                background: white;
                td {
                    vertical-align: middle;
                    a {
                        cursor: pointer;
                    }
                }
                i {
                    color: #512b83;
                    padding: 8px;
                    font-size: 14px;
                    border-radius: 100%;
                }
                i:hover {
                    background: #512b83;
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
    }
    #loadingEdit {
        font-size: 20px;
        color: white;
        margin: 0 auto;
    }
    .transparent {
        background: transparent;
        border: none;
    }
}