.library {
    //Es la parte de arriba
    width: 100%;
    // background: url(../../img/FONDOTOTAL.jpg) center center;
    background: url(../../img/Fondo-biblio.png) center center;
    background-size: cover;
    // background: url(../../img/Fondo-biblio.png);
    .everywhere {
        justify-content: space-between;
        margin-bottom: 20px;
        .sectionlibrary {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;
            margin-left: 10%;
            i {
                color: #512B83;
            }
            p {
                width: 100%;
                height: 100%;
                margin-bottom: 0px;
                font-size: 15px;
            }
        }
        .logolibrary {
            margin-right: 40px;
            img {
                width: 300px;
            }
        }
    }
    //Formulario
    form {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 10%;
        opacity: 1;
    }
    .btn {
        margin-left: 5px;
        padding: 0px!important;
    }
    .btnSearch {
        i {
            background: #512B83;
            padding: 5px;
            border-radius: 5px;
            margin-right: 0px;
        }
    }
    .books {
        width: 80%;
        margin: 0 auto;
        overflow: auto;
        table {
            width: 100%;
            text-align: center;
            margin-bottom: 0px;
            thead {
                background: #512B83;
                color: white;
                font-size: 20px;
                font-weight: bold;
                tr td {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background: #512B83;
                    font-size: 15px;
                }
            }
            tbody {
                tr {
                    cursor: pointer;
                    background: white;
                    line-height: 1;
                }
                tr:hover {
                    background: #ccc;
                }
            }
            a {
                i {
                    color: #512B83;
                }
            }
            a:hover {
                i {
                    color: #411f6e;
                }
            }
        }
    }
    //Scroll de la tabla de libros
    .books::-webkit-scrollbar {
        width: 10px;
        height: 500px;
        background: white;
    }
    .books::-webkit-scrollbar-thumb {
        background: #512B83;
        border-radius: 5px;
    }
    //Paginacion
    .page {
        nav {
            background: none;
            box-shadow: 0px 0px 0px;
            align-content: center;
            margin-top: 20px;
            ul {
                justify-content: center;
                .page-item.active .page-link {
                    color: white;
                    background-color: #512B83;
                    border-color: #512B83;
                }
                .page-link {
                    color: #512B83;
                }
            }
        }
    }
}

.books {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    table {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        thead {
            background: #512B83;
            color: white;
            font-size: 20px;
            font-weight: bold;
            tr td {
                position: sticky;
                top: 0;
                z-index: 10;
                background: #512B83
            }
        }
        tbody {
            tr {
                cursor: pointer;
                background: white;
                line-height: 1;
            }
            tr:hover {
                background: #ccc;
            }
        }
        a {
            i {
                color: #512B83;
            }
        }
        a:hover {
            i {
                color: #411f6e;
            }
        }
    }
}
//Scroll de la tabla de libros
.books::-webkit-scrollbar {
    width: 10px;
    height: 500px;
    background: white;
}
.books::-webkit-scrollbar-thumb {
    background: #512B83;
    border-radius: 5px;
}

.containeInputFilter {
    display: flex;
    width: 50%;
}