#studentMaterial {
    width: 100%;
    height: 100%;
    overflow: auto;
    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        .search {
            display: flex;
            width: 50%;
            margin-left: 0px;
            input {
                width: 70%;
                height: 40px;
            }
            #sendGroup,
            #clearGroup {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
            }
        }
        #btnAdd {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            text-align: right;
            i {
                color: white;
            }
            a {
                color: white;
            }
        }
        button {
            width: 150px;
            height: 40px;
            background: #512b83;
            color: white;
            i {
                margin: 0px;
                font-size: 20px;
            }
        }
        button:hover {
            color: white;
            background: #60408b;
        }
        h5 {
            font-weight: bold;
            font-size: 25px;
            color: #444;
            text-align: center;
            text-transform: capitalize;
            margin-top: 15px;
            margin-bottom: 25px;
        }
        .modal-content {
            width: 90%;
        }
        form {
            width: 80%;
            margin: 0 auto;
            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0px;
            }
            select {
                font-size: 16px;
            }
            input {
                font-size: 16px;
            }
        }
    }
    #class {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
        overflow: auto;
        height: 75%;
        padding-bottom: 25px;
        .card {
            width: 250px;
            height: 280px;
            margin: 0 auto;
            margin-top: 15px;
            border: none;
            box-shadow: 0px 0px 3px #ccc;
            .information {
                display: flex;
                justify-content: space-between;
                width: 100%;
                background: #512b83;
                color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                border-start-start-radius: 0.25rem;
                border-start-end-radius: 0.25rem;
                h5 {
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 20px;
                }
                i {
                    font-size: 15px;
                    text-align: center;
                }
            }
            .space {
                width: 100%;
                height: 100%;
                background: white;
                border-end-start-radius: 0.25rem;
                border-end-end-radius: 0.25rem;
                overflow-y: auto;
                margin-bottom: 0px;
                ul {
                    margin-bottom: 0px;
                    li {
                        list-style: inside;
                        margin-left: 10px;
                    }
                }
            }
        }
        .card:hover {
            cursor: pointer;
            box-shadow: 2px 2px 5px #ccc;
        }
    }
    #loadingSpinner,
    #loadingSpinner2 {
        color: #512b83;
    }
}